CT_CONFIG_VERSION="4"
CT_OBSOLETE=y
CT_EXPERIMENTAL=y
CT_ALLOW_BUILD_AS_ROOT=y
CT_ALLOW_BUILD_AS_ROOT_SURE=y
CT_ARCH_X86=y
CT_OMIT_TARGET_VENDOR=y
CT_ARCH_64=y
CT_KERNEL_LINUX=y
CT_LINUX_V_3_10=y
CT_BINUTILS_V_2_45=y
CT_GLIBC_V_2_17=y
CT_GCC_V_15=y
CT_CC_GCC_LIBSANITIZER=y
CT_CC_LANG_CXX=y
CT_DEBUG_GDB=y
